<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd ">

<bean name="user" class="com.itcast.User">
	<property name="name" value="qibeibei"></property>
	<property name="age" value="18"></property>
	<property name="person" ref="person"></property>
</bean>

<bean name="person" class="com.itcast.Person">
<property name="name" value="gggg"></property>
</bean>

</beans>